@{
    ViewBag.Title = "ViewMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-bar">
    <ul class="page-breadcrumb messages">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Messages</span>
              <i class="fa fa-circle"></i>
        </li>
        <li><span>@ViewBag.UserName</span>
              <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@ViewBag.SubjectName</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range1" class="pull-right tooltips btn-sm" data-container="body" data-placement="bottom">
            <i class="icon-calendar"></i>&nbsp; 
            <span class="thin hidden-xs clsCurrentDate"></span>&nbsp;  
        </div>
    </div>
    <input type="hidden" id="hdnuserid" name="hdnuserid" value="@ViewBag.UserID" />
</div>
<h1 class="page-title">@ViewBag.SubjectName </h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered messageportlet">
           
            <div class="portlet-body messagebody">
                <div class="row">
                    <div class="col-md-12">
                        <div class="chatdetails" id="chatdetails">
                            @Html.Action("LoadMessages","Messages",new {Id=@ViewBag.SubjectID})
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
         <div class="chatdetailstextarea">
                            <input type="text" id="txtchat" name="txtchat" class="txtchat" placeholder="Type here" />
                            <input type="button" id="btnchatsubmit" value="Send" class="btnchatsubmit" />
                        </div>
    </div>
</div>
<input type="hidden" id="hdnsubjectid" name="hdnsubjectid" value="@ViewBag.SubjectID" />
<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).on("click", "#btnchatsubmit", function () {
        var txtchat = $("#txtchat").val().trim();
     

        if (txtchat == "") {
            if (txtchat == "") {
                $("#txtchat").addClass("error1");
            } else {
                $("#txtchat").removeClass("error1");
            }
            return false;
        }
        else {
            var sturl = '@Url.Action("SendMessages")';
            $.ajax({
                url: sturl,
                type: 'POST',
                dataType: 'json',
                data: {
                    'ID': $("#hdnsubjectid").val(),
                    'messages': $("#txtchat").val()
                },
                success: function (data) {
                    if (data == "success") {                       
                        var querystring = "?Id=" + $("#hdnsubjectid").val();
                        $("#chatdetails").load("/Messages/LoadMessages" + querystring, function () {
                            $("#txtchat").val("");
                        });
                    } else {
                        alert(data);
                        return false;

                    }
                },
                error: function (e) {

                    alert("An error has occured ! ");
                    return false;
                }
            });
        }
    });
    $(document).on("focus", "#txtchat", function () {
        $("#txtchat").removeClass("error1");
    });
    $("#txtchat").keypress(function (event) {
        if (event.which == 13) {
            //event.preventDefault();
            var txtchat = $("#txtchat").val().trim();


            if (txtchat == "") {
                if (txtchat == "") {
                    $("#txtchat").addClass("error1");
                } else {
                    $("#txtchat").removeClass("error1");
                }
                return false;
            }
            else {
                var sturl = '@Url.Action("SendMessages")';
            $.ajax({
                url: sturl,
                type: 'POST',
                dataType: 'json',
                data: {
                    'ID': $("#hdnsubjectid").val(),
                    'messages': $("#txtchat").val()
                },
                success: function (data) {
                    if (data == "success") {
                        var querystring = "?Id=" + $("#hdnsubjectid").val();
                        $("#chatdetails").load("/Messages/LoadMessages" + querystring, function () {
                            $("#txtchat").val("");
                        });
                    } else {
                        alert(data);
                        return false;

                    }
                },
                error: function (e) {

                    alert("An error has occured ! ");
                    return false;
                }
            });
        }
        }
    });
    /*custom scroller*/
   
</script>
