@model List<SDCOC.Models.NewsEventsDetails>

@{
    ViewBag.Title = "View News Events";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string imagepath = @"\Images\EventImages\";
    string imagename = "";


    if (Model != null)
    {
        if (Model.Count > 0)
        {
            if (Model.FirstOrDefault().EventImage != "" && Model.FirstOrDefault().EventImage != null)
            {
                imagepath += Model.FirstOrDefault().EventImage;
                imagename = Model.FirstOrDefault().EventImage;
            }
            else
            {
                imagepath += "No_img.jpg";
                imagename = "No_img.jpg";
            }
        }
        else
        {
            imagepath += "No_img.jpg";
            imagename = "No_img.jpg";

        }
    }
    else
    {
        imagepath += "No_img.jpg";
        imagename = "No_img.jpg";
    }
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>News and Events </span>
        </li>
        <li>
            <i class="fa fa-circle"></i>
            <span>@ViewBag.Title </span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range1" class="pull-right tooltips btn-sm" data-container="body" data-placement="bottom">
            <i class="icon-calendar"></i>&nbsp; 
            <span class="thin hidden-xs clsCurrentDate"></span>&nbsp;  
        </div>
    </div>
</div>
<!-- END PAGE BAR -->

<h2 class="page-title">View News and Events  </h2>

<div class="portlet light Update_News_and_Events">
    <div class="row">
        <div class="col-sm-6">
            <div class="schedule_detail_main">
                <a href="@Url.Action("Index", "NewsEvents")">Back</a>
                <div class="event_img viewimg fileupload-new thumbnail">
                    <img src="@imagepath" />
                </div>
                <h3>@Model.FirstOrDefault().Title</h3>
                <ul>
                    <li><i class="fa fa-calendar"></i>@Convert.ToDateTime(Model.FirstOrDefault().Eventdate).ToString("dd/MM/yyyy")</li>
                    <li><i class="fa fa-clock-o"></i>@Model.FirstOrDefault().EventTime</li>
                </ul>
                <div class="schedule_desc">
                    <p>
                       @Model.FirstOrDefault().Description
                    </p>                   
                    <div class="links">
                           <input type="hidden" id="hdnupdateid" name="hdnupdateid" value="@Model.FirstOrDefault().NewsEventId" />
             <input type="hidden" id="hdnstatus"  name="" value="" />
                        <label>Status <a class="edit active" href="#active_inactive" data-toggle="modal">Active</a></label>
                        <a href="@Url.Action("UpdateNewsEvents", "NewsEvents", new { Id = @Model.FirstOrDefault().NewsEventId })" class="blue-border btn red btn-outline">Edit</a>
                        <a href="#basic" data-toggle="modal" class="blue-border no_margin">Delete</a>
                    </div>
                </div>
                <a href="@Url.Action("Index", "NewsEvents")">Back</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnupdateid" name="hdnupdateid" value="0" />
<input type="hidden" id="hdnstatus"  name="" value="" />
<div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">Are you sure? You want to delete this News and Events permanently!</div>
            <div class="modal-footer">
               <a href="javascript:void(0);" class="blue-border no_marginyes" data-id="yes" data-dismiss="modal">Yes</a>
                <a href="javascript:void(0);" class="blue-border no_margin" data-id="no" data-dismiss="modal">No</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="active_inactive" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Status </h4>
            </div>
            <div class="modal-body">Are you sure to change status of News and Events?</div>
            <div class="modal-footer">
                 <a href="javascript:void(0);" class="blue-border no_marginyes" data-id="yes" data-dismiss="modal">Yes</a>
                <a href="javascript:void(0);" class="blue-border no_margin" data-id="no" data-dismiss="modal">No</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).on("click", "div#active_inactive .close", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
    });
    $(document).on("click", "div#basic .close",  function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
    });

    $(document).on("click", "div#active_inactive a.no_margin", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
        closepopup();
    });
    $(document).on("click", "div#basic a.no_margin", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
        closepopup();
    });
    function closepopup() {
        $("#active_inactive").removeClass("in");
        $("div#basic").removeClass("in");
        $("body").removeClass("modal-open");
        $(".modal-backdrop.fade.in").remove();
        $(".modal.fade").hide();
    }
    $(document).on("click", "div#active_inactive a.no_marginyes", function () {
      
        var id = $("#hdnupdateid").val();
        var status = $("#hdnstatus").val();
      
            //call action here

            var sturl = '@Url.Action("ActiveInactiveNewEventsByID")';

            $.ajax({
                url: sturl,
                type: 'GET',
                dataType: 'json',
                data: {
                    'ID': $("#hdnupdateid").val(),
                    'status': $("#hdnstatus").val()
                },
                success: function (data) {
                    if (data == "success") {
                        window.location = "/NewsEvents/Index";
                    } else {
                        closepopup();
                        alert(data);
                        return false;

                    }
                },
                error: function (e) {
                    closepopup();
                    alert("An error has occured ! ");
                    return false;
                }
            });
        
    });
    $(document).on("click", "div#basic a.no_marginyes", function () {
       // alert($(this).attr("data-id"));
      
        var id = $("#hdnupdateid").val();
        
            //call action here

            var sturl = '@Url.Action("DeleteNewEventsByID")';

            $.ajax({
                url: sturl,
                type: 'GET',
                dataType: 'json',
                data: {
                    'ID': $("#hdnupdateid").val()
                },
                success: function (data) {
                    if (data == "success") {
                        window.location = "/NewsEvents/Index";
                    } else {
                        closepopup();
                        alert(data);
                        return false;
                    }
                },
                error: function (e) {
                    closepopup();
                    alert("An error has occured ! ");
                    return false;
                }
            });        
           
        

    });
   

    $(document).on("click", "#tbllst a.trash", function () {
        $("#hdnupdateid").val(($(this).attr("data-id")));
        $("#hdnstatus").val($(this).attr(""));
        
    });

   
    $(document).on("click", " #tbllst a.active,#tbllst a.inactive", function () {
        $("#hdnupdateid").val(($(this).attr("data-id")));
        $("#hdnstatus").val($(this).attr("data-staus"));
    });

    $(document).ready(function () {
        $(".page-sidebar-menu>li.active").removeClass("active");
        $(".page-sidebar-menu>li[data-menuname='NewsEvents']").addClass("active");
    });
</script>