@{
    ViewBag.Title = "ViewConnect";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<SDCOC.Models.ConnectDetails>
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Connect</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range1" class="pull-right tooltips btn-sm" data-container="body" data-placement="bottom">
            <i class="icon-calendar"></i>&nbsp; 
            <span class="thin hidden-xs clsCurrentDate"></span>&nbsp;  
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<h2 class="page-title">@Model.FirstOrDefault().Firstname @Model.FirstOrDefault().Lastname</h2>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject sbold uppercase">Message</span>
        </div>
        @*<div class="actions Name"><span>Name :- </span>@Model.FirstOrDefault().Firstname  @Model.FirstOrDefault().Lastname</div>*@
        <div class="actions EmailId">
            <a href="mailto:@Model.FirstOrDefault().EmailId" class="simple">@Model.FirstOrDefault().EmailId</a>
            <div class="actions ReceivedDate"><span>ReceivedDate :- </span>@Model.FirstOrDefault().ReceivedDate</div>
        </div>
        
            

    </div>
    <div class="schedule_detail_main">
       @* <div class="links">
        <a href="@Url.Action("Index", "Connect")" class="blue-border left">Back</a>
             </div>*@
        <div class="schedule_desc">
            <p>
                @Model.FirstOrDefault().MessageText
            </p>

            <div class="links">
                <a href="@Url.Action("Index", "Connect")" class="blue-border left">Back</a>
                <a href="#basic" data-toggle="modal" class="trash blue-border right no_margin" data-id="@Model.FirstOrDefault().ConnectId" data-staus="Active">Delete</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnupdateid" name="hdnupdateid" value="@Model.FirstOrDefault().ConnectId" />
<input type="hidden" id="hdnstatus" name="" value="" />
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">Are you sure? You want to delete this connection permanently!</div>
            <div class="modal-footer">
                 <a href="javascript:void(0);" class="blue-border no_marginyes" data-id="yes" data-dismiss="modal">Yes</a>
                <a href="javascript:void(0);" class="blue-border no_margin" data-id="no" data-dismiss="modal">No</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).on("click", "div#active_inactive .close", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
    });
    $(document).on("click", "div#basic .close", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
    });

    $(document).on("click", "div#active_inactive a.no_margin", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
        closepopup();
    });
    $(document).on("click", "div#basic a.no_margin", function () {
        $("#hdnupdateid").val("0");
        $("#hdnstatus").val("");
        closepopup();
    });
    function closepopup() {
        $("#active_inactive").removeClass("in");
        $("div#basic").removeClass("in");
        $("body").removeClass("modal-open");
        $(".modal-backdrop.fade.in").remove();
        $(".modal.fade").hide();
    }

    $(document).on("click", "div#basic a.no_marginyes", function () {
        var id = $("#hdnupdateid").val();

        //call action here

        var sturl = '@Url.Action("DeleteConnectByID")';

        $.ajax({
            url: sturl,
            type: 'GET',
            dataType: 'json',
            data: {
                'ID': $("#hdnupdateid").val()
            },
            success: function (data) {
                if (data == "success") {
                    window.location = "/Connect/Index";
                } else {
                    closepopup();
                    alert(data);
                    return false;
                }
            },
            error: function (e) {
                closepopup();
                alert("An error has occured ! ");
                return false;
            }
        });
    });


    $(document).on("click", "#tbllst a.trash", function () {
        $("#hdnupdateid").val(($(this).attr("data-id")));
        $("#hdnstatus").val($(this).attr(""));

    });


    $(document).on("click", " #tbllst a.active,#tbllst a.inactive", function () {
        $("#hdnupdateid").val(($(this).attr("data-id")));
        $("#hdnstatus").val($(this).attr("data-staus"));
    });
</script>
