@model List<SDCOC.Models.MessageDetails>
<link href="~/assets/apps/css/jquery.mCustomScrollbar.css" rel="stylesheet" />


@{string prevdate = "";}

<div class="mCustomScrollbar"  data-mcs-theme="minimal-dark">


@foreach (var i in Model)
{
    var bdate = "";
    var btime = "";
    var curdate = DateTime.Now.ToString();
    if (i.MessageSendDate != null)
    {
        bdate = Convert.ToDateTime(i.MessageSendDate).ToString("dd/MM/yyyy");
        btime = Convert.ToDateTime(i.MessageSendDate).ToString("hh:mm tt");
        curdate = Convert.ToDateTime(curdate).ToString("dd/MM/yyyy");
    }
    <div class="chatmessagedetails">
    @if (prevdate == "" || prevdate != bdate)
    {
        if (curdate != bdate)
        {
    <div class="chatdate">@bdate</div>
        }
        else
        {
    <div class="chatdate">Today</div>
        }
    }
    @if (i.MessageFrom != 0)
    {
    <div class="chatleft">
        <p>@i.Message</p>
        <span>@btime</span>
    </div>
    }
    else
    {
    <div class="chatright">
        <p>@i.Message</p>
        <span>@btime</span>
    </div>
    }</div>
    prevdate = bdate;
}
    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/assets/apps/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
@*<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>*@
<script>
    var j = jQuery.noConflict();
    j(window).load(function () {
        j(".content").mCustomScrollbar();
    });
       
</script>